[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "lib/janus"]
	path = lib/janus
	url = https://github.com/deepseek-ai/Janus.git
[submodule "lib/yolov10"]
	path = lib/yolov10
	url = https://github.com/THU-MIG/yolov10.git
